<div class="flex h-screen bg-gray-100">
  <aside class="w-64 bg-gray-800 text-white flex flex-col justify-between p-4 shadow-lg">
    <span>
      <div class="flex items-center justify-between mb-6">
      <div class="text-xl font-bold">EMS Dashboard</div>

    </div>
    <nav>
      <ul class="space-y-2">
        <li>
          <a
            (click)="route('/dashboard')"
            [ngClass]="{
              'block py-2 px-3 cursor-pointer rounded transition-colors duration-200': true,
              'bg-gray-900 text-white': getCurrentRoute() === '/app/dashboard',
              'hover:bg-gray-700': getCurrentRoute() !== '/app/dashboard'
            }"
          >
            <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
          </a>
        </li>
        <li>
          <a
            (click)="route('/incidents')"
            [ngClass]="{
              'block py-2 px-3 cursor-pointer rounded transition-colors duration-200': true,
              'bg-gray-900 text-white': getCurrentRoute() === '/app/incidents',
              'hover:bg-gray-700': getCurrentRoute() !== '/app/incidents'
            }"
          >
            <i class="fas fa-exclamation-triangle mr-2"></i> All Incidents
          </a>
        </li>
        <li>
          <a
            (click)="route('/alerts')"
            [ngClass]="{
              'block py-2 px-3 cursor-pointer rounded transition-colors duration-200': true,
              'bg-gray-900 text-white': getCurrentRoute() === '/app/alerts',
              'hover:bg-gray-700': getCurrentRoute() !== '/app/alerts'
            }"
          >
            <i class="fas fa-bell mr-2"></i> Alerts
          </a>
        </li>
        <li>
          <a
            (click)="route('/emergency')"
            [ngClass]="{
              'block py-2 px-3 cursor-pointer rounded transition-colors duration-200': true,
              'bg-gray-900 text-white': getCurrentRoute() === '/app/emergency',
              'hover:bg-gray-700': getCurrentRoute() !== '/app/emergency'
            }"
          >
            <i class="fas fa-ambulance mr-2"></i> Emergency
          </a>
        </li>
        <li>
          <a
            (click)="route('/maps')"
            [ngClass]="{
              'block py-2 px-3 cursor-pointer rounded transition-colors duration-200': true,
              'bg-gray-900 text-white': getCurrentRoute() === '/app/maps',
              'hover:bg-gray-700': getCurrentRoute() !== '/app/maps'
            }"
          >
            <i class="fas fa-map-marked-alt mr-2"></i> Map View
          </a>
        </li>
      </ul>
    </nav>
    </span>

    <button
        (click)="logout()"
        class="text-sm bg-red-600 hover:bg-red-700 text-white py-1 px-2 rounded"
        aria-label="Logout"
      >
        Logout
      </button>
  </aside>

  <main class="flex-1 overflow-auto p-6">
    <router-outlet></router-outlet>
  </main>
</div>
